/* Colors
#F17120 Jaxx Orange
#2EA869 Jaxx Green
#C0C0C0 Background gray


/***** Fallback message *****/

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

/***** Presentation *****/

body {
    font-family: serif;
    min-height: 740px;

    background: radial-gradient(rgb(245, 245, 245), rgb(190, 190, 190));
}

.step {
    position: relative;
    width: 900px;
    height: 700px;
    padding: 0;
    margin: 20px auto;

    box-sizing: border-box;

    color: rgb(65, 65, 65);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    font-family: serif;
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 1.5;
}

/*
    Make inactive steps a little bit transparent.

.impress-enabled .step {
    margin: 0;
    opacity: 0.3;
    transition:         opacity 1s;
}
.impress-enabled .step.active { opacity: 1 }
*/
.notes {
    display: none;
}

h1,
h2,
h3 {
    text-align: center;
    margin: 0;
}

p {
    margin: 0.3em;
}

li {
    margin: 0.1em;
}


a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    text-shadow: -1px 1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;

    transition:         0.5s;
}
a:hover,
a:focus {
    text-shadow: -1px 1px 2px rgba(100,100,100,0.5);
}

blockquote {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
}

em {
    text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

strong {
    text-shadow: -1px 1px 2px rgba(100,100,100,0.5);
}

q {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

strike {
    opacity: 0.7;
}

img {
    width: 300px;
    margin: 20px;
}



.slide {
  background: rgba(150, 150, 150, .2);
  border-radius: 25px;
  transition: all 2s;
}




/***** Floating nav ********/
.impress-on-what-is-bitcoin nav,
.impress-on-what-is-cryptocurrency nav {
  opacity: 0;
}

nav {
  width: 250px;
  height: 200px;
  max-width: 25%;
  max-height: 20%;

  position: fixed;
  left: -15px;;
  top: -25px;
  transform: scale(2);

  opacity: .9;
  transition: opacity 2s;
  z-index: 9;

  border-bottom-right-radius: 100px;
  background: rgba(150, 150, 150, .8);
}

.cloud-word{
  position: absolute;
  transition: all 1s;
  color: black;
}
.cloud-word:hover{
  color: #F17120;
  transition: all .3s;
}

/******* What is Bitcoin Step ********/
#what-is-bitcoin {
  position: relative;
  left: 10em;
  top: -3em;
}
.bitcoin-long {
  position: absolute;
  left: 400px;
  top: 150px;
}

#author {
  position: absolute;
  top: 400px;
  left: 550px;
  text-align: right;
}

/*********** Cryptocurrency Step ******/
#what-is {
  position: relative;
  top: 200px;
  right: 1em;
}
#cryptocurrency {
  position: relative;
  right: 1.5em;
  top: 1.1em;
  text-shadow: 7px 7px 7px #999;
  font-size: 5em;
  transition: all 2s;
}

.impress-on-what-is-cryptocurrency #cryptocurrency {
  right: 1em;
  top: 2.7em;
  font-size: 2em;
  transition: all 2s;
}
.coin {
  position: absolute;
  z-index:-1;
  opacity: 0.7;
}
.past .coin {
  opacity: 0.4;
  transition: all 2s;
}
.bitcoin {left: 40%; top: -10%;}
.ethereum{left: -40%; top: 40%;}
.zcash{left: 600px; top: 400px;}
.monero{left: -20%; top: -5%;}
.bitcoin-cash{left: 80%; top: 15%;}
.litecoin{left: 5%; top: 75%;}

/********** Overview Step **********/

/********** Timeline Step ***********/
/* Moves to timeline.css */

/********* Demo Steps **************/
#demo {
  height: 800px;
}
#demo h1 {
  position: relative;
  right: 2em;
}

#demo p {
  position: absolute;
  top: .5em;
  right: 7em;
}

.jaxx-logo {
  position: absolute;
  right: 0px;
  bottom: -10px;
  width: 6em;
}

.jaxx-step {
  width: 320px;
  height: 600px;
}

.jaxx-step img {
  margin: 0;
  width: 100%;
}


/****** Altcoins Step ********/
#altcoin-columns {
  display: flex;
  flex-directoin: row;
  text-align: center;
}

#altcoin-columns img {
  width: 200px;
}

/****** Whitepaper Step ********/

/****** Adoption Step ********/
#adoption {
  height: 800px;
}
#adoption-columns {
  display: flex;
  flex-directoin: row;
  text-align: center;
}

#adoption-columns img {
  width: 240px;
  max-height: 200px;
}

#ether-usage {

}

/****** Smart Contracts Step ********/

/****** Philosophy Step ********/
#phil-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;

  margin: 0;
  padding: 0;

  border-bottom-right-radius: inherit;
}

/****** Tokenomics Step ********/
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*grid-gap: 10px;*/
}

.grid img {
  margin: 0;
  padding: 4px;
  vertical-align: middle;
  max-width: 95%;
}

/****** About Me Step ********/


/***** Plugins ******/
.impress-enabled div#impress-toolbar {
    position: fixed;
    right: 1px;
    bottom: 1px;
    opacity: 0.6;
}
.impress-enabled div#impress-toolbar > span {
    margin-right: 10px;
}
body.impress-mouse-timeout div#impress-toolbar {
    display: none;
}
body.impress-mouse-timeout {
    cursor: none;
}


/*
   Disable mouse clicks / focus for body
*/
.impress-enabled #impress                 { pointer-events: auto }


/*
   Fade-in/out is a straightforward fade. Give it enough seconds that all browsers render it clearly.
*/
.future .fade-present,
.past .fade-present {
    opacity: 0.0;
    transition: 2s;
}
.present .fade-present {
    opacity: 1.0;
    transition: 2s
}
